h1{
    color: black;
    font-family: "Impact";
    text-align: center;
    background-color: indianred;
}

h2{
    color: darkgreen;
    font-family: "Impact";
    text-align: center;
    background-color: cornsilk;
}

h4{
    color: lawngreen;
}

p{
    color: aliceblue;
    font-weight: bold;
}

body{
    background-image: url("../images/adidas01.jfif");
    background-attachment: fixed;
}

table{
    background-color: mistyrose
}

ol{
    background-image: url("../images/tommy03.png");
}

li{
    color: aqua
}

a{
    color: aqua
}