body{
    background-image: url("../images/Concrete-wall-texture06.jpg") ;
    background-attachment: fixed;
}

div.title{
    margin: auto;
    font-size: 30px;
    font-family: Yu Mincho;
    text-align: center;
    background-image: url("../images/ototsu2.jpg");
    color: white;
    width: 1000px;
    height: 50px;
    margin-bottom: 20px;
}

span.main{
    color: white;
    background-image: url("../images/degutinashi-red.jpg");
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 35px;
    text-align: center;
    font-size: 30px;
    font-family: Bookman Old Style;
    border: 5px dotted blue;
}

span.menuitem{
    color: white;
    background-image: url("../images/degutinashi-blue.jpg");
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 35px;
    text-align: center;
    font-size: 30px;
    font-family: Bookman Old Style;
    border: 5px dotted red;
}

div.menu{
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

div.image1{
    background-image: url(../images/paris-green.jpg);
    width: 650px;
    height: 610px;
    margin-right: 50px;
}

table{
    font-size: 15px;
    text-align: center;
    margin: auto;
    font-family: Yu Mincho;
    padding-top: 120px
}

td{
    background-color: white;
}


div.image2{
    background-image: url(../images/kisekinoitimai.png);
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    
}

div.image3{
    background-image: url(../images/HKHK.png);
    width: 300px;
    height: 300px;
}

p{
    background-color: white;
}

a{
    color: white;
    background-color: transparent;
    font-size: 30px;
    font-family: Bookman Old Style;
    text-decoration: none;
}

div.contents{
    font-size: 0px;
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

div.contentsleft{
    display: inline-block;
    vertical-align: top;
}

div.contentsright{
    display: inline-block;
    vertical-align: top;
}

div.footer{
    background-image: url(../images/ototsu2.jpg);
    color: white;
    margin: auto;
    width: 975px;
    height: 40px;
    background-color: cadetblue;
    font-family: Yu Mincho;
    text-align: right;
    font-size: 20px;
    padding: 10px 25px 0px 0px;
}